<script>
import GlLogoSVG from '../assets/images/gitlab_logo_white.svg';

export default {
  name: 'GlLogo',
  data() {
    return {
      GlLogoSVG,
    };
  },
};
</script>

<template>
  <router-link to="/" class="gl-px-3 gl-py-2 gl-transition-medium">
    <img :src="GlLogoSVG" alt="GitLab" />
  </router-link>
</template>
